<!DOCTYPE html>
<html>
<head>
	<title>下载包</title>
</head>
<body>
	<div>
		<h1>一分钟后下载</h1>
		<form id="download-form" action="http://192.168.2.207:3000/download" method="get">
　　　		<input type="submit" value="download" />
		</form>
	</div>
</body>
</html>

<!-- <script type="text/javascript">
	function dlownload() {
		
	}
</script> -->