<!DOCTYPE html>
<html>
<head>
	<title>打个包</title>
</head>
<body>
	<form id="upload-form" action="http://192.168.2.207:3000/upload" method="post" enctype="multipart/form-data" >
　　　	<input type="file" id="uploadFile" name="uploadFile" /> <br />
　　　	<input type="submit" value="Upload" />
	</form>
</body>
</html>

